.vscode
do_not_commit
.DS_Store
examples/.DS_Store
examples/test/.DS_Store
images/.DS_Store
*.bbl
*.blg
*.log
*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.out
*.nav
*.snm
*.toc
*.vrb
*.synctex(busy)
indent.log
semantics/paper.aux
semantics/paper.bbl
semantics/paper.blg
semantics/paper.log
semantics/paper.out
semantics/paper.pdf
semantics/paper.synctex.gz
semantics/paper_1.pdf
semantics/paper_last.aux
semantics/paper_last.log
semantics/paper_last.out
semantics/paper_last.pdf
semantics/paper_last.synctex.gz
semantics/paper_last.tex
tool.log
semantics/semantics.aux
semantics/semantics.blg
semantics/semantics.log
semantics/semantics.out
semantics/semantics.synctex.gz
.vscode